TIENDA_API_PORT=4555
TIENDA_API1_PORT=4557
TIENDA_API2_PORT=4558
TIENDA_FRONTEND_PORT=8007

TIENDA_VITE_API_URI=http://192.168.8.16:4555/api/
TIENDA_VITE_API_PUBLIC_URI=http://192.168.8.16:4555/
TIENDA_VITE_API_ENVIROMENT=PRODUCCION
