
GO
/****** Object:  StoredProcedure [dbo].[FinalizarKanban]    Script Date: 27/08/2024 14:11:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[FinalizarKanban] (@ID int)  
							  
AS

BEGIN
declare @N_K varchar(20);
DECLARE @iddeposito INT
DECLARE @kanban NVARCHAR(50)
DECLARE @accion NVARCHAR(50)
DECLARE @idK int
DECLARE @idmovimiento int
DECLARE @fecha datetime
DECLARE @MES NVARCHAR(2)
DECLARE @ANO NVARCHAR(4)
DECLARE @DIA NVARCHAR(2)
DECLARE @modelo NVARCHAR(10)
DECLARE @modeloId INT
DECLARE @estadoId INT
DECLARE @estadoPrevio INT

set @N_K = (select N_KANBAN from T_KANBAN where ID = @ID);
UPDATE T_KANBAN SET HABILITADO = 0 WHERE ID = @ID;
DELETE from T_KANBAN_AIRBAG where ID = @N_K;
DELETE from T_KANBAN_PROCESO where ID = @N_K;
DELETE from T_KANBAN_DESBLANCEO where ID = @N_K;
DELETE from T_KANBAN_MATERIAL where ID = @N_K;

BEGIN
	SET @fecha = GETDATE()
	SET @kanban = @N_K

	--OBTENGO EL DEPOSITO
	SELECT @iddeposito = id from [192.168.8.16].[SAR_PRODUCCION].dbo.ubicaciones where nombre='DOLLYS'

	--INSERTO EL MOVIMIENTO
	INSERT INTO [192.168.8.16].[SAR_PRODUCCION].dbo.ubicaciones_movimientos (ubicacion_id,ingreso,egreso,created_at)
	VALUES (@iddeposito,@fecha,null,@fecha)

	SELECT top 1 @idmovimiento=id from [192.168.8.16].[SAR_PRODUCCION].dbo.ubicaciones_movimientos order by id desc

	--INSERTO EL CONTENIDO DEL MOVIMIENTO
	INSERT INTO [192.168.8.16].[SAR_PRODUCCION].dbo.ubicacion_contenidos(movimiento_id,detalle,contenido,created_at)
	VALUES (@idmovimiento,'KANBAN',@kanban,@fecha);
		
	SELECT @idK = id From [192.168.8.16].[SAR_PRODUCCION].dbo.kanbans where codigo=@kanban

	IF @idK is null
		BEGIN
			SET @MES = SUBSTRING(@kanban,4,2)
			SET @DIA = SUBSTRING(@KANBAN,6,2)
			SET @ANO = '20' + SUBSTRING(@kanban,2,2)

			SELECT @modelo = modelo FROM T_KANBAN_PROCESO WHERE ID=@kanban
			SELECT @modeloId = ID FROM [192.168.8.16].[SAR_PRODUCCION].dbo.modelos where nombre = @modelo

			INSERT INTO [192.168.8.16].[SAR_PRODUCCION].dbo.kanbans (codigo,modelo_id,fecha,mes,created_at,updated_at)
			VALUES (@kanban,@modeloId,@ANO + '-' + @MES + '-' + @DIA,@MES,GETDATE(),GETDATE())

			SELECT @idK = id From [192.168.8.16].[SAR_PRODUCCION].dbo.kanbans where codigo=@kanban
		END

	SELECT @estadoId = id,@estadoPrevio = estado_previo_id from [192.168.8.16].[SAR_PRODUCCION].dbo.estado_kanbans WHERE kanban_id = @idK

	IF @estadoId is null
		BEGIN
			--ACTUALIZO EL ESTADO DEL KANBAN Y EL LOG
			INSERT INTO [192.168.8.16].[SAR_PRODUCCION].dbo.estado_kanbans(kanban_id,estado_id,user_id,created_at)
			VALUES (@idK,6,1,@fecha);
		END
	ELSE
		BEGIN
			UPDATE [192.168.8.16].[SAR_PRODUCCION].dbo.estado_kanbans set estado_id=6,estado_previo_id=@estadoPrevio,updated_at=GETDATE() WHERE id=@estadoId
		END

	INSERT INTO [192.168.8.16].[SAR_PRODUCCION].dbo.log_estados_kanbans(kanban_id,estado_id,user_id,created_at)
	VALUES (@idK,6,1,@fecha);
END

 END 